.pantry {
  width: 100vw;
  height: auto;
  background-image: url('../../assets/papyrus.png'); /* Adjust the path to your image */
  background-repeat: repeat; /* Image repeats to fill the space */
  background-attachment: fixed; /* Creates the parallax effect */
  background-size: 42%; /* Makes the background image twice as large */
}

.pantry-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Define 4 columns */
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  justify-content: center;
  padding: 20px;
  max-width: 1280px; /* Set the max width */
  margin: auto; /* Center the grid */
}

.pantry-item {
  border-radius: 7.5px;
  background-color: rgba(
    42,
    42,
    42,
    0.666
  ); /* Semi-transparent white for a glass effect */
  backdrop-filter: blur(5px); /* Blur effect for the glass look */
  -webkit-backdrop-filter: blur(2.5px); /* For Safari */
  border: 1px solid rgba(42, 42, 42, 0.25); /* Subtle border for the glass effect */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 231px;
  min-height: 275px;
  box-shadow: 2.5px 2.5px 2.5px rgba(42, 42, 42, 0.42); /* Soft shadow for depth */
  color: #fff; /* Text color */
}

.pantry-item-names {
  border-radius: 2.5px;
  font-size: 20px; /* Set font size to 24px */
  font-weight: 600;
  font-family: 'Times New Roman', serif; /* Added fallback font */
  color: #ffffff; /* White text color */
  background-color: rgba(42, 42, 42, 0.666);

  padding: 1rem 0; /* Padding for better spacing */
  width: 100%; /* Ensure it fills the container horizontally */
  height: 1rem; /* Adjust height for better spacing */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.pantry-item-tags {
  width: 100%;
  height: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 42, 42, 0.42);
  color: white;
}

.pantry-image-container {
  width: 100%; /* Full width of the container */
  aspect-ratio: 3 / 2; /* Landscape aspect ratio */
  background-color: rgba(42, 42, 42, 0.5);
  position: relative;
  display: flex; /* Use flex to center the image inside */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Prevent the image from overflowing */
  /* border-radius: 2.5px; Uncomment if border radius is desired */
  /* border: 5px solid black; Uncomment if border is desired */
}

.pantry-image {
  max-width: 100%; /* Max width to fit container */
  max-height: 100%; /* Max height to maintain aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border-radius: 5px; */
}

.pantry-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(42, 42, 42, 0.42);
}

.pantry-item-quantity,
.pantry-item-expiration {
  width: 100%; /* Ensure it takes up the width of its container */
  padding: 0.5rem 0; /* Padding for better spacing and centering */
  margin: 0; /* Adjusted margin for spacing */
  text-align: center;
  /* margin: 0; */
  font-weight: bold; /* Optional: if you want the text to be bold */
  /* background-color: rgba(42, 42, 42, 0.3); */
}
