.pantry-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 4 columns */
    grid-gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 1280px; /* Set the max width */
    margin: auto; /* Center the grid */
  }
  
  .pantry-item {
    border: 5px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color: grey;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .pantry-image-container {
    width: 100%; /* Adjust width to maintain aspect ratio */
    padding-top: 66.66%; /* 2:3 aspect ratio */
    background-color: #cccccc; /* Light grey background */
    position: relative;
    margin-bottom: 10px; /* Space between the image container and text */
  }
  
  .pantry-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%; /* Adjust based on preference */
    max-height: 90%; /* Adjust based on preference */
    border-radius: 5px;
  }
  