.recipes-container {
  display: flex;
  overflow-x: auto;
  align-items: stretch;
  /* height: 100vh; */
  margin-top: 12.5vh;
}

.buffer {
  flex: 0 0 33vw;
}

.controller {
  z-index: 9;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 40px;
  background-image: linear-gradient(#202429, #2d3237);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.55);
  border-bottom: solid 5px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Papyrus', serif;
  font-size: 2rem;
  padding: 15px 30px;
  margin: -78px auto;
  left: 50%;
  transform: translateX(-50%);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}

.button-gpt {
  background-color: rgb(255, 221, 0);
  padding: 0.75rem;
  border-radius: 50%;
  color: white;
  border: solid 2px #424242;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
}

.button-gpt:hover {
  background-color: #c3ff00;
  border: solid 3px #1a1a1a;
  box-shadow: 0 0 15px #eeff00;
  padding: 0.825rem;
  content: 'Add Item';
}
/* .title {
  padding-left: 1rem;
  color: #d2d2d2;
  font-size: 12rem;
  font-weight: 60;
  font-family: 'Papyrus', cursive;
} */

.recipe-card {
  flex: 0 0 33vw;
  margin-right: 33vw;
  height: 80vh;
  background-size: cover;
  position: relative;
  background-color: rgba(42, 42, 42, 0.42);
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  box-shadow:
    inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -2px -2px 1px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}
.recipe-header {
  width: 100%;
  height: 2rem;
  padding: 1.25rem 0;
  margin: 0 auto;
  /* background-color: rgba(28, 28, 28, 0.75); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  padding-left: 1rem;
  color: #d2d2d2;
  font-size: 2rem;
  font-weight: 60;
  font-family: 'Papyrus', cursive;
}

/* .button-select-delete {
  padding: 0.5rem;
  background-color: #c33d3d;
  color: white;
  border: solid 2px #424242;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
  margin-top: -10px;
} */

/* .button-select-delete:hover {
  background-color: #ff0000;
  border: solid 3px #1a1a1a;
  box-shadow: 0 0 15px #ff0000;
  padding: 0.525rem;
} */
/* .title {
  align-items: left;
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Ringbearer';
} */

.img-container {
  aspect-ratio: 3 / 2; /* Maintain a fixed aspect ratio of 3:2 */
  background-color: rgba(23, 23, 23, 0.666);
  position: relative; /* Position relative to allow absolute positioning of its children */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: rgb(42, 42, 42) 1px solid;
  border-radius: 6px;
}

img {
  max-width: 99%; /* Max width is 100% of its parent */
  max-height: 99%; /* Max height is 100% of its parent */
  position: absolute; /* Positioned absolutely to the center using the transform below */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image within the container */
}

.details {
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(23, 23, 23, 0.666);
  border: rgb(42, 42, 42) 1px solid;
  border-radius: 6px;
}

/* Add additional styles as needed */
